body {
    margin: 0 auto;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
.inter {
    font-family: 'Inter', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background: white;
}


.menu-normalize {
    text-decoration: none;
    color: #424352;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.nav-btn {
    background-color: #1B99D4;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    padding: 0.5rem 1.25rem;
    /* px-5 py-2 equivalent */
}

/* Hero */
.rinputstyle {
    border: 1px solid #E6E9FC;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    margin-bottom: 1.5rem;
}

/* Number Style */
.number-column {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ncard {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.np1 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 0.1px;
    padding-bottom: 8px;
}

.np2 {
    color: #4D607D;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0.1px;
}

/* Related Section Style */
.rcsh4font1{
    font-family: 'Poppins', sans-serif;
} 
.rcsh4font {
    font-family: 'Roboto', sans-serif;
}


